.main {
    margin: 0px;
    display: flex;
    font-family: 'Abhaya Libre', serif;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    background-attachment: fixed;
    height: 2000vh; /* Fill the entire viewport height */
    background-size: 100vw 100vh; /* Cover the viewport width and height */
    background-position: center;
    background-repeat: no-repeat;
}

.container{
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 500px;
}
.quiz-question {
    margin-bottom: 20px;
  }
h2{
    font-family: 'Abhaya Libre', serif;
}
h1{
    font-family: 'Alice', serif;
}
.quiz-options
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.quiz-option {
    padding: 10px;
    border: 2px solid #ff69b4;
    border-radius: 10px;
    background-color: #ffffff;
    color: #ff69b4;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.quiz-option:hover {
background-color: #ff69b4;
color: #ffffff;
}
.quiz-option.active
{
    background-color: #ff69b4;
    color: #ffffff;
}

.questions
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:40px;
}
.submit-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #ff69b4;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-btn:hover {
    background-color: #ff4081;
  }
.heading{
    padding:30px;
}
.heading h1
{
    font-size:30px

}
.correct_num {
    position: fixed; /* Keeps the icon in a fixed position relative to the viewport */
    top: 20px; /* Distance from the top of the viewport */
    right: -63px; /* Distance from the right of the viewport */
    z-index: 1000; /* Ensures it stays on top of other elements */
    width: 100px;
    height: 100px;
   
}
.correct_num mat-icon {
    font-size: 40px; /* Increase the size as needed */
    color: red; /* Change the color if needed */
    width: inherit;
    height: inherit;
}

.icon_number {
    position: absolute;
    top: 21%;
    right: 66px;
    transform: translate(-50%, -50%); /* Center the number inside the icon */
    color: white; /* Color for the number */
    border-radius: 50%;
    padding: 2px 4px;
    font-size: 10px;
    font-weight: bold;
    line-height: 1;
}
img{
    width: 200px;
}
  